<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>I Am a 17 year old Junior at Clearfield High School</p>
  </div>

  <div class="sidebar-module">
    <h4>Links</h4>
    <ol class="list-unstyled social-links">
      <li><a href="https://github.com/Trighhorn"><%= fa_icon "github" %></a></li>
      <li><a href="https://twitter.com/trighhorn"><%= fa_icon "twitter" %></a></li>
      <li><a href="https://www.linkedin.com/in/abrahan-gonzalez-19589a141"><%= fa_icon "linkedin-square" %></a></li>
      <li><a href="https://www.instagram.com/trighhorn"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</div>